.about-slice-main{
width: 100vw;
height: auto;
background-color: rgb(3, 14, 50);
}
.about-slice-title{
    width: auto;
    font-size: clamp(1.5rem, 2vw, 2.2rem);
    padding: 0 0 0 40px;
    color: #f3f5f5;

}
.about-slice-text{

    width: 100%;
    padding: 0 40px 0 40px;
    padding-bottom: 20px;
    color: #f3f5f5;
}

@media (max-width: 768px) {
    .about-slice-main{
        color: #f3f2f2;
    }
}