* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.banner-main-container{
 background:
   radial-gradient(
    circle at 20% 30%, 
    #ff00cc 0%,
    #0000aa 25%,
    #000022 55%,
    #000000 80%,
    #000303 100%
  );
  width: 100vw;
  height: clamp(100vh, 100%, 100vh);
  overflow: hidden;
  padding: 10%;
}
.banner-container{
  display: flex;
  width: 100%;
  height: auto;
  position: relative;
}
.banner-text{
  position: absolute;
  z-index: 2;
width: 60%;
height: auto;
overflow: hidden;
padding-bottom: 20px;
background: 
radial-gradient(circle, rgba(255, 255, 255, 0.8) 0.1px, transparent 0.5px) 0 0 / 100px 80px,
  radial-gradient(circle, rgba(239, 244, 244, 0.189) 1.2px, transparent 1px) 30px 30px / 120px 140px;
}
.banner-title{
  font-size:clamp(2.5rem, 2.8vw, 3.3rem);
  text-align: start;
  margin-top: 5%;
  color: #ffffff;
  margin-left: 20%;
}
.banner-subtitle{
  font-size:clamp(0.9rem, 1.5vw, 2.4rem);
  text-align: start;
  margin-top: 2%;
  color: #ffffff;
  margin-left: 20%;

}
.banner-icons{
  display: flex;
  justify-content: left;
  gap:2%;
  margin-top: 5%;
  margin-left: 20%;
}
.banner-icon{
 width: clamp(30px, 3vw, 80px);
}
.banner-buttons{
  display:flex;
  justify-content: left;
  gap: 3%;
  margin-top: 5%;
  margin-bottom: 5%;
  margin-left: 20%;

}
.banner-button{
  font-size: clamp(0.7rem, 1.1vw, 1.5rem);
  border-radius: 0px;
  background-color: rgb(2, 1, 32);
  box-shadow: 0 0px 15px 1px rgba(12, 158, 255, 0.507);
width: clamp(200px, 5vw, 370px);
gap:20px;
}
.banner-button:hover{
  background-color: rgb(1, 70, 101);
  color: #ffffff;
  box-shadow: 0 0px 15px 1px rgba(65, 179, 211, 0.4);
}
.banner-image{
  position: relative;
  z-index: 1;
width: 40%;
display: flex;
overflow: hidden;
  align-items: start;
  left: 66%;

}
.banner-img {
  width: clamp(400px, 65vh, 1200px); 
  height: auto; 
  overflow: hidden;
  display: block;
  margin-left: 0;
}

@media (max-width: 768px) {
  .banner-main-container {
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .banner-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    margin-top: 4vh;
  }
  .banner-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: static;
    width: 90%;
    height: auto;
    padding: 20px;
    gap:30px;
    padding: 65px;
  }
  
  .banner-title,
  .banner-subtitle,
  .banner-buttons,
  .banner-icons {
    margin: 0%;
    text-align: center;
  }
  .banner-buttons{
    gap:10%;
    width: 90%;
    justify-content: center;
  }
  .banner-button{
    width: 24vw;
    color:white;
  }
  .banner-image{
    position: static;
    width: 90%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    place-items: center;
  }
  .banner-img{
    width: 85%;
  }
}