.banner-about-main{
    width: 100vw;
    height: auto;
    display: flex;
    justify-content: space-between;
    padding: 30px;
    gap:10px;
    background-color: rgb(3, 14, 50);
}

.banner-about-title{
    font-size: clamp(2rem, 3.33vw, 4rem);
    margin-top:1%;
    margin-left: 12%;
    color: #f3f5f5;
}
.image-about-page{
    width: 20%;
    opacity: 0.5;
    margin-top: 2%;
}
.banner-about-description{
    margin-top:15%;
    margin-right: 12%;
    text-align: end;
    color: #f3f5f5;
    
font-size: clamp(1rem, 1.33vw, 1.4rem);
}
@media (max-width: 768px) {
    .banner-about-main{
        display: flex;
        flex-direction: column;
        margin-top: 20%;
        justify-content: center;
        align-items: center;
        color: #f3f2f2;
    }
    .banner-about-title{
        width: 100vw;
        margin-left: 0;
        text-align: center;
    }
    .banner-about-description{
        width: 100vw;
        margin-right: 0;
        text-align: start;
        padding: 10px;
    }
    .image-about-page{
        width: 50%;
    }
}