*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.about-card-container {
    width: clamp(100%, 20vw, 30vw);
    height: clamp(450px, 35vw, 50vh);
    border:2px solid #3498db;
    padding: 2%;
    background-color: black;
    box-shadow: 0px 0px 15px 2px rgba(12, 158, 255, 0.507);
    opacity: 0;
}
.about-card-container:hover{
    transition:0.2s ease-in-out; 
    transform: scale(1.05);
    background-color: rgba(0, 255, 255, 0.397);
    box-shadow: 0px 0px 16px 4px rgba(0, 0, 255, 0.507);
}
.about-card-container h1{
    font-size: clamp(1.9rem, 2vw, 4vw);
    text-align: center;
    color: #ffffff;
    margin-top: 10%;
}
.about-card-container p {
    font-size: clamp(1.3rem, 1.4vw, 2.2vw);
    text-align:justify;
    color: #ffffff;
    padding: 5px;
    margin-top: 7%;
}