*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.projects-page {
  width: 100vw;
  display: flex;
flex-direction: column;
  align-items: center;
  justify-content: center;
  background:
    linear-gradient(to bottom, #000000 0%, #020310 25%, #0c0b3e 75%, #1a1a2e 100%),
    radial-gradient(circle, rgba(255, 255, 255, 0.8) 0.5px, transparent 0.5px) 0 0 / 40px 40px,
    radial-gradient(circle, rgba(255, 255, 255, 0.6) 0.7px, transparent 0.7px) 20px 20px / 40px 40px,
    radial-gradient(circle, rgba(255, 255, 255, 0.4) 1px, transparent 1px) 0 10px / 60px 60px,
    radial-gradient(circle, rgba(255, 255, 255, 0.2) 1.2px, transparent 1.2px) 30px 30px / 60px 60px;
  padding-bottom: 10vh;
  padding-top: 5vh;
}

.projects-title {
  color: white;
  font-size: 2.5rem;
  margin-bottom: 30px;
}

.carousel-container {

  position: relative;
  width: 90%;
  overflow: hidden;
}

.carousel-track {
  overflow: hidden;
  width: 90vw;
  border: 5px solid #06209200;
}

.carousel-inner {
  display: flex;
  transition: transform 0.6s ease-in-out;
overflow: hidden;
}

.carousel-card {
  flex: 0 0 calc(100% / 6);
  display: flex;
  justify-content: center;
  padding: 10px;
  min-width: 0; 
}

.carousel-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(255, 255, 255, 0.1);
  color: white;
  font-size: 2rem;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  z-index: 1;
  border-radius: 0%;
}

.carousel-btn.left {
  left: 10px;
}

.carousel-btn.right {
  right: 10px;
}

@media (max-width: 900px) {
  .carousel-card {
    flex: 0 0 60%;
  }
}

@media (max-width: 768px) {
  .carousel-card {
    flex: 0 0 calc(100% / 6);
    width: 70px;
   overflow: hidden;
}
}
