*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.myprojects-main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    color: rgb(255, 255, 255);
    padding: 100px;
    background:
    linear-gradient(to bottom, #000000 0%, #020310 25%, #0c0b3e 75%, #1a1a2e 100%),
    radial-gradient(circle, rgba(255, 255, 255, 0.8) 0.5px, transparent 0.5px) 0 0 / 40px 40px,
    radial-gradient(circle, rgba(255, 255, 255, 0.6) 0.7px, transparent 0.7px) 20px 20px / 40px 40px,
    radial-gradient(circle, rgba(255, 255, 255, 0.4) 1px, transparent 1px) 0 10px / 60px 60px,
    radial-gradient(circle, rgba(255, 255, 255, 0.2) 1.2px, transparent 1.2px) 30px 30px / 60px 60px;
}

.myprojects-container{
    display: flex;

}

.myprojects-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    width: 100%;
    height: auto;
    color: rgb(255, 255, 255);
    padding: 50px;
    gap: 50px;
}
.myprojects-text h1{
    font-size: clamp(2rem, 5vw, 3rem);
    color: rgb(244, 238, 238);
    margin-top: 20px;
}
.myprojects-text p{
    font-size: clamp(1rem, 2.5vw, 1.5rem);
    color: rgb(255, 255, 255);
    text-align: left;
    line-height: 1.5;
}
.myprojects-button{
background-color: rgb(1, 6, 55);
border-radius: 0%;
box-shadow: 0 0 15px 5px rgba(0, 191, 255, 0.7);
color: #fff;
}
.myprojects-button:hover{
     box-shadow: 0px 7px 10px rgba(16, 16, 221, 0.87);
    color: #fff;
    transform: scale(1.05);
    background-color: #0a003f;
}
.myprojects-image{
    width: 100%;
    height: auto;
    max-width: 600px; 
    border-radius: 0;
    box-shadow: 0 0 15px rgba(0, 191,
     255, 0.5);
     overflow: hidden;

}

.myprojects-image img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
}

/*responsive*/
@media (max-width: 768px) {
    .myprojects-container {
        display: flex;
        flex-direction: column;
        padding-top: 20px;
        width: 170%;
        
    }
   .myprojects-text {
        width: 100%;
        padding: 20px;
        text-align: left;
     
    }
    .myprojects-image {
        width: 100%;
        max-width: 100%;
    }
}