.projectitem-main-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    min-height: clamp(200px, 50vh, 800px);
    margin-bottom: 10px;
    background-color: rgba(74, 10, 225, 0.205);
}

.projectitem-container-left {
    width: 40%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15%;
    padding: 1rem;
    box-sizing: border-box;
}

.projectitem-container-right {
    width: 60%;
    height: auto;
    position: relative;
}

.projectitem-title {
    font-size: 2rem;
    width: 100%;
    height: auto;
}

.projectitem-description {
    width: 90%;
    height: auto;
}

.projectitm-button {
    width: 30%;
    padding: 0.5rem;
    cursor: pointer;
}

.projectitem-container-image {
    overflow: hidden;
    width: 100%;
    height: 100%;
    z-index: 1;
    position: absolute;
    object-fit: contain;
}

.projectitem-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.labels-container {
    display: flex;
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 2;
}

.projectitem-tecnologies {
    position: absolute;
    background-color: black;
    display: flex;
    align-items: start;
    width: 40%;
    flex-direction: column;
    bottom: 0;
    left: 0;
    padding: 0.5rem;
    box-sizing: border-box;
}

.projectitem-tecnologies h1:first-of-type {
    font-size: 1.5rem;
}

.icons-container {
    display: flex;
    gap: 20%;
    padding: 0.5rem;
}

.project-item-label {
    position: absolute;
    top: 0;
    right: 0;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: black;
    padding: 0.5rem;
    box-sizing: border-box;
}

.project-item-label h1:first-of-type {
    font-size: 1rem;
}
.projectitm-button{
  font-size: clamp(0.7rem, 1.8vw, 1.5rem);
  border-radius: 0px;
  background-color: rgb(2, 1, 32);
  box-shadow: 0 0px 15px 1px rgba(12, 158, 255, 0.507);
width: clamp(200px, 5vw, 370px);
color: #f3f2f2;
gap:20px;
}
.projectitm-button:hover{
      background-color: rgb(1, 70, 101);
  color: #ffffff;
  box-shadow: 0 0px 15px 1px rgba(65, 179, 211, 0.4);
}


/* Responsive styles */
@media (max-width: 768px) {
    .projectitem-main-container {
        flex-direction: column;
        min-height: auto;
        color: #f3f2f2;
    }
    
    .projectitem-container-left,
    .projectitem-container-right {
        width: 100%;
    }
    
    .projectitem-container-left {
        order: 2;
        padding: 1rem;
        gap: 1rem;
        padding-bottom: 2rem;
    }
    
    .projectitem-container-right {
        order: 1;
        height: 300px; 
    }
    
    .projectitem-description {
        width: 100%;
    }
    
    .projectitm-button {
        width: 50%;
        color: #f3f2f2;
    }
    
    .projectitem-tecnologies {
        width: 50%;
        height: 30%;
        overflow: hidden;
    }
    
    .projectitem-container-image {
        position: absolute;
        height: 100%;

    }
    .labels-container{
        top:0;
    }
    .project-item-label{
        width: 30%;
        height: 19%;
       bottom: 0;
    }
}

@media (max-width: 480px) {
    .projectitem-title {
        font-size: 1.5rem;
    }
    
    .projectitm-button {
        width: 70%;
    }
    
    .projectitem-tecnologies {
        width: 60%;
    }
    
    .projectitem-tecnologies h1:first-of-type {
        font-size: 1.2rem;
    }
    
    .icons-container {
        gap: 10%;
    }
}