.project-card {
    position: relative;
    display: flex;
    align-items: flex-end;
    width: min(100vw,26vw);
    height: min(100vh, 60vh);
    padding: 30px 20px;
    background-color: rgba(0, 255, 255, 0);
    box-shadow: 0px 7px 10px rgba(64, 165, 227, 0.87);
    transition: 0.5s ease-in-out;
    overflow: hidden;
    object-fit: cover;
}

.project-card:hover {
    transform: translateY(0px);
}

.project-card::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgba(2, 2, 33, 0.511);
    transition: all 0.5s ease-in-out;
    opacity: 0;
}

.project-card:hover::after {
    opacity: 1;
}

.project-card > img {
    width: 100%;
    height: 100%;
    object-fit: fill; 
    position: absolute;
    top: 0;
    left: 0;
}

.project-details {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    z-index: 2;
    color: #fff;
    transition: all 0.5s ease-in-out;
}

.project-details h1 {
    font-size: 20px;
    text-align: center;
    justify-content: center;
    margin-bottom: 0px;
    color: rgb(240, 240, 240);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.5s ease-in-out;
    padding: 5px 15px;
    border-radius: 5px;
    width: 30vw;
}

.project-card:hover .project-details h1 {
    top: 0%;
    transform: translate(-50%, -0%);
}

.project-details p,
.project-details .project-button {
    opacity: 0;
    transform: translateY(10px);
    margin-bottom:70%;
    transition: all 0.5s ease-in-out;
}

.project-details p {
    font-size: 16px;
    margin: 10px 0;
    line-height: 130%;
    color: rgb(255, 255, 255);
    padding: 10px;
    border-radius: 5px;
    width: 90%;
}

.project-details .project-button {
background-color: rgb(1, 6, 55);
border-radius: 0%;
box-shadow: 0 0 15px 5px rgba(0, 191, 255, 0.7);
width: 100px;
height: auto;
font-size: 0.7rem;
margin-top: 30px;
color: #ffffff;
}

.project-card:hover .project-details p,
.project-card:hover .project-details .project-button {
    opacity: 1;
    transform: translateY(15vh);
}

.project-button:hover {
    box-shadow: 0px 7px 10px rgba(16, 16, 221, 0.87);
    color: #fff;
    transform: scale(1.05);
    background-color: #0a003f;
}


@media (max-width: 768px) {
    .project-card {
        overflow: hidden;
        width: 90vw;
        height: 50vh;
        padding: 20px;
        text-align: center;
    }
    .project-details h1 {
       text-align: center;
       width: 80%;
    }
}
   