* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #020310;
  color: white;
  position: sticky;
  top: 0;
  z-index: 1000;
  width: 100vw;
 
}

.navbar-logo {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.2rem;
}
.navbar-links a:focus {
  outline: none;
}
.menu-toggle:focus {
  outline: none;
}
.menu-toggle {
  display: none;
  font-size: 1.8rem;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}

.navbar-links {
  display: flex;
  list-style: none;
  gap: 1.5rem;
}

.navbar-links a {
  color: white;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  transform: 0.5s ease-in-out;
}

.navbar-links a:hover {
  color: #3498db;
}


@media (max-width: 768px) {
  .navbar{
    position: fixed;
  }
  .menu-toggle {
    display: block;
    border-radius: 0%;
  }

  .navbar-links {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    flex-direction: column;
    background-color: rgb(3, 6, 33);
    text-align: center;
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: max-height 0.5s ease-in-out, opacity 0.3s ease-in-out;
  }

  .navbar-links.open {
    max-height: 500px; 
    opacity: 1;
    padding: 0.5rem 0;
  }

  .navbar-links li {
    padding: 1rem 0;
    transition: transform 0.3s ease-in-out;
  }


  .navbar-links.open li {
    transform: translateY(0);
  }
  
  .navbar-links li {
    transform: translateY(-10px);
  }
}
