*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #020310;
  color: white;
  width: 100vw;
  top:0;

}

.navbar-logo {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.2rem;
}

.navbar-links {
  display: flex;
  list-style: none;
  gap: 1.5rem;
}

.navbar-links a {
  color: white;
  text-decoration: none;
  transition: color 0.3s;
}

.navbar-links a:hover {
  color: #3498db;
}