.habilities-bar-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: clamp(100%, 74%, 100%);
    height: auto;
    overflow: hidden;
    position: relative;
    background-color: #04020e;
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    border: 2px solid;
    border-image: linear-gradient(to right, #FF00FF, #00FFFF);
    border-image-slice: 1;
    box-shadow: 0 0 15px rgba(31, 2, 31, 0.6),
                0 0 15px rgba(0, 255, 255, 0.6);
}

.habilities-bar-container:hover {
    transition: 0.2s ease-in-out;
    transform: scale(1.02); 
    background-color: rgba(7, 1, 21, 0.8);
    box-shadow: 0px 0px 20px 8px rgba(255, 0, 255, 0.7),
                0px 0px 20px 8px rgba(0, 255, 255, 0.7), 
                0px 0px 30px 10px rgba(31, 38, 135, 0.5); 
}
.habilities-bar-title{
    color: rgb(255, 255, 255);
    font-size: clamp(1.9rem, 2vw, 4vw);
    font-weight: 600;
    margin: 1%;
}

.habilities-icons-container{
    display: flex;
    flex-direction: row;
    width: 100%;
    gap:5%;
    justify-content: center;
    align-items: center; 
    padding: 2%;   
    

}
.habilities-icon{
    width: clamp(30px, 3vw, 60px);
    height: auto;
    justify-items: center;
    color: #f3f5f5;
}
.habilities-icon:hover{
    transform: scale(1.3);
    transition: 0.2s ease-in-out;
   
}
.icon-title{
    font-size: clamp(0.6rem, 1.1vw, 1.5rem) ;
    text-align: center;
    color: #f3f5f5;
}
.icon-title:hover{
    box-shadow: 0 0px 15px 1px rgba(12, 158, 255, 0.507);
}
@media (max-width: 768px) {
  .habilities-bar-title {
    text-align: center;
    padding: 1%;
  }

  .habilities-icons-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 8%;
    color: #ffff;
    justify-items: center;
    align-items: center;
    height: auto;
    padding-bottom: 35px;
  }

  .habilities-icons-container .habilities-icon-wrapper:nth-child(13) {
    grid-column: span 5;
    justify-self: center;
  }

  .habilities-icon {
    width: 45px;
    height: auto;
  }
}