
.habilities-bar-container{
background-color: rgba(74, 10, 225, 0.205);
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
width: clamp(100%, 74%, 100%);
height: auto;
overflow: hidden;
border:2px solid #3498db;
 box-shadow: 0px 0px 15px 2px rgba(12, 158, 255, 0.507);

}
.habilities-bar-title{
    color: rgb(255, 255, 255);
    font-size: clamp(1.9rem, 2vw, 4vw);
    font-weight: 600;
    margin: 1%;
}

.habilities-icons-container{
    display: flex;
    flex-direction: row;
    width: 100%;
    gap:5%;
    justify-content: center;
    align-items: center; 
    padding: 2%;   
    

}
.habilities-icon{
    width: clamp(25px, 3vw, 80px);
    height: auto;
}
.habilities-icon:hover{
    transform: scale(1.1);
    transition: 0.2s ease-in-out;
   
}
.icon-title{
    font-size: clamp(0.6rem, 1.1vw, 1.5rem) ;
    text-align: center;
}
.icon-title:hover{
    box-shadow: 0 0px 15px 1px rgba(12, 158, 255, 0.507);
}
@media (max-width: 768px) {
  .habilities-bar-title {
    text-align: center;
    padding: 1%;
    
  }
  .habilities-icons-container{
    gap:8%;
    color:#ffff;
  }
}